<div class="container">
  <nav class="nav">
    <div class="nav__logo">
      <img src="assets/images/Icon.png" alt="Logo Image">
      <div class="nav__logo-title"><b>NEXCENT</b></div>
    </div>

  

    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link nav__link--active">Home</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Features</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Community</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
    </ul>

    <button class="button">
      Register Now <span class="button__icon">→</span>
    </button>
  </nav>
</div>
