<header class="header">
    <nav class="nav">
      <div class="nav__logo">
            <img src="assets/images/Icon.png" alt="logo Image" >   
            <div class="nav__logo--title" style="font-size: 27px;"><b>NEXCENT</b></div>
      </div>
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link nav__link--active">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Features</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Communiity</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
    </ul>
        <button class="button button--Success">
            Register Now
            <span class="button__icon">→</span>
          </button>
    </nav>
  </header>


  