.body-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    gap: 3rem;
    margin-top: 0.09rem;
    justify-self: center;
  
    &__image {
      max-width: 400px;
      margin-left: 10px;
    }
  
    &__content {
      max-width: 500px;
    }
  
    &__title {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      margin-top: 0.1rem;
    
    }
  
    &__text {
     
      color: gray;
      margin-bottom: 1.5rem;
    }
  
    &__button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
  
      &:hover {
        background-color: #45a049;
      }
    }
   
    }
  
  .achievment{
    background-color: #eff3f5; 
    &__hero{
      padding: 1rem;
      display: flex;
    justify-self: center;
    justify-content: space-between;
    }
    
    &__content {
      margin-top: 2rem;
      justify-content: space-between;
      margin-right: 3rem;
    
    }
    &__title {
      font-size: 2rem;
      font-weight: 700;
      color: #333;
      margin-top: 1rem;
      margin-bottom: 0.2rem;
  &--highlight {
        color: #28a745;
        margin-top: 1rem;
        margin-right: 2rem;
      }
    }
    &__counts{
  display: flex;
  size: 1px;
      justify-content: space-between; 
      
    }
   
  }
 
  