<section class="marketing">
  <div class="marketing__header">
    <h2 class="marketing__title">Caring is the new marketing</h2>
    <p class="marketing__subtitle">
      The Nextcent blog is the best place to read about the latest membership insights, 
      trends, and more.See who's joining the community,
       read about how our community<br> are increasing their membership income and lot's more.​
    </p>
  </div>

  <div class="marketing__cards">
    <div class="marketing__card">
      <div class="marketing__card-image">
        <img src="assets/images/mart1.svg" alt="Card Image" />
        <div class="marketing__card-content">
          <h3 class="marketing__card-title">Creating Streamlined Safeguarding Processes with OneRen</h3>
          <br><a href="#" class="marketing__card-link">Readmore →</a>
        </div>
      </div>
    </div>

    <div class="marketing__card">
      <div class="marketing__card-image">
        <img src="assets/images/mart2.svg" alt="Card Image" />
        <div class="marketing__card-content">
          <h3 class="marketing__card-title">What are your safeguarding<br>responsibilities and how can <br>you manage them</h3>
          <br><a href="#" class="marketing__card-link">Readmore →</a>
        </div>
      </div>
    </div>

    <div class="marketing__card">
      <div class="marketing__card-image">
        <img src="assets/images/mart3.svg" alt="Card Image" />
        <div class="marketing__card-content">
          <h3 class="marketing__card-title">Revamping the Membership Model with Triathlon Australia</h3>
         <br> <a href="#" class="marketing__card-link">Readmore →</a>
        </div>
      </div>
    </div>
  </div>
</section>
