<section class="clients">
    <h2 class="clients__title">Our Clients</h2>
    <p class="clients__subtitle">We have been working with some Fortune 500+ clients</p>
    <div class="clients__logos">
      <img class="clients__logo" src="assets/images/logo1.svg" alt="Client 1">
      <img class="clients__logo" src="assets/images/logo2.svg" alt="Client 2">
      <img class="clients__logo" src="assets/images/logo3.svg" alt="Client 3">
      <img class="clients__logo" src="assets/images/logo4.svg" alt="Client 4">
      <img class="clients__logo" src="assets/images/logo5.svg" alt="Client 5">
      <img class="clients__logo" src="assets/images/logo6.svg" alt="Client 6">
      <img class="clients__logo" src="assets/images/logo7.svg" alt="Client 7">
    </div>

<!-- community section -->
    <div class="community">
        <h2 class="clients__community--title">Manage your entire community<br> in a single system</h2>
        <p class="clients__community--subtitle">Who is Nextcent suitable for?</p>
    </div>
    <div class="clients__community--grid">
        <div class="clients__community">
          <img src="assets/images/Icon1.svg" alt="Membership" class="clients__community--icon">
          <h3 class="clients__community--title">Membership Organisations</h3>
          <p class="clients__community--text">Our membership management<br>software provides full automation of<br> membership renewals and payments</p>
        </div>
        
        <div class="clients__community">
          <img src="assets/images/icon2.svg" alt="icon" class="clients__community--icon">
          <h3 class="clients__community--title">National<br>Associations</h3>
          <p class="clients__community--text">Our membership management<br>software provides full automation of<br>membership renewals and payments</p>
        </div>
  
        <div class="clients__community">
          <img src="assets/images/icon3.svg" alt="icon" class="clients__community--icon">
          <h3 class="clients__community--title">Clubs And<br> Groups</h3>
          <p class="clients__community--text">Our membership management<br>software provides full automation of<br>membership renewals and payments</p>
        </div>
      </div>
    
  </section>

  