<section class="home">
<div class="home__hero">
  <div class="home__hero__content">
    <h1 class="home__hero__content__title">
      Lessons and insights<br />
      <span class="home__hero__content--highlight">from 8 years</span>
    </h1>
    <p class="home__hero__content--para">
      Where to grow your business as a photographer: site or social media?
    </p>
    <button class="home__hero__content__button">Register</button>
  </div>

  <div class="home__hero__image">
    <img src="assets/images/windoww.svg" alt="Home Image" />
  </div>
</div>
</section>
